:root {
	--transition: 0.5s ease-in-out;
}

#root {
	margin: 0 auto;
	padding: 2rem;
}

.light-mode {
	--bg-img: url(https://images.pexels.com/photos/40784/drops-of-water-water-nature-liquid-40784.jpeg?auto=compress&cs=tinysrgb&w=1600);
	--input-bg: #ffffff88 !important;
}

.dark-mode {
		--input-bg: #00000088 !important;
}

body {
	height: 100vh;
}

.theme-toggler-div {
	position: fixed;
	bottom: 50px;
	right: 50px;
}

@media (max-width: 576px) {
	.theme-toggler-div {
		position: fixed;
		bottom: 20px;
		right: 20px;
	}
}